@use "../variables" as *;
@use 'sass:color';

// ---------------------------------------------------------------------------------------------------------------------
// code
// ---------------------------------------------------------------------------------------------------------------------

pre {
  padding: 1.2rem;
  border-radius: 6px;
  overflow-x: auto;
  background: $codeBg;
  font-family: $codeFont, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 1.8;
  tab-size: 2;
}

pre code {
  padding: 0;
  background: none;
  color: inherit;
  font-size: inherit;
}

:not(pre) > code {
  padding: 2px 6px 4px 6px;
  border-radius: 6px;
  background: $codeBg;
  color: $accentColor;
  font-family: $codeFont, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

h3, h4, h5, h6 {
  code {
    font-size: 80%;
  }
}

blockquote code {
  background: color.adjust($codeBg, $lightness: -5%);
}

pre::selection,
pre code::selection {
  background: #b3d4fc;
}
