@use "../variables" as *;
@use "./mixins" as *;

// body
body {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  //scroll-padding-top: 48px;
}

.siteFooter {
  min-height: 80px;
  background: $footerBg;
}

// calculate main content height
.siteMain {
  min-height: calc(100vh - 45px - 80px - 100px);
  position: relative;

  // room for header
  .layout__inner {
    padding-top: 56px;
  }
}

// horizontal layout - header
.siteHeader,
.siteFooter {
  .layout__inner {
    display: flex;
    justify-content: space-between;
  }
}

// horizontal layout - content
.layout__inner {
  position: relative;
  max-width: $widthPage;
  min-width: 0;
  margin: 0 auto;
  padding: 1rem;
  @include xl {
    min-width: $widthPage;
  }
}

.layout__error,
.layout__search,
.layout__folder,
.layout__page {
  padding-top: 1rem;
  @include lg {
    padding-top: 1.5rem;
  }
}

.layout__outer {
  display: grid;
  grid-template-columns: 1fr calc($widthPage + 2rem) 1fr;
  position: relative;
  margin: 0 auto;
  //max-width: $widthOuter;
  gap: $widthGap;
  height: 100%;
  min-height: 700px;

  .layout__inner {
    flex-grow: 1;
  }

  .layout__left,
  .layout__right {
    flex-grow: 1;
    padding: 0 1rem;

    > * {
      display: flex;
      top: 0;
    }
  }

  @include xl-down {
    grid-template-columns: 1fr;

    .layout__left,
    .layout__right {
      display: none;
    }
  }

  .layout__navSide > * {
    justify-content: flex-end;
  }

  .layout__navPage > * {
    justify-content: flex-start;
  }
}
