@use "variables" as *;
@use "layout/mixins" as *;

.page[data-path^="/bio"] .pageContent {

  // larger intro paragraph
  p:nth-child(2) {
    @include introText;
    font-weight: 700;
    margin: .5em 0;
  }

  // hide external link marker
  a span {
    display: none;
  }

  img:first-of-type {
    margin: 0 0 1rem;
  }

  // make 2:1 image 1:1 on small screens
  @include md-down {
    p:has(img:first-of-type) {
      overflow: hidden;
    }

    img:first-of-type {
      display: block;
      aspect-ratio:1/1 !important;
      object-fit: cover;
      object-position: center;
      background: #333;
    }
  }
}
